/* Original 4K code */
h1 {
  font-size: 3rem;
  font-weight: 900;
  position: absolute;
  left: 0;
  top: 0;
  padding: 1.5rem;
  background: var(--accent, blue);
  margin: 0;
  border-radius: 0 0 2rem 0;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  height: 100vh;
  overflow: hidden;
}

main {
  --cell: clamp(15rem, 20vw, 20rem);

  display: grid;
  grid-template-columns: repeat(1, var(--cell)) 1fr 1fr;
  grid-template-rows: repeat(2, var(--cell));
  gap: 1rem;
  grid-template-areas:
    'qr dc dc'
    'sa pl pl';
  height: min-content;
  place-items: center;

  /* max-width: 60rem; */
  margin-inline: auto;
  /* max-height: 40rem; */
}

main > * {
  box-sizing: border-box;
  display: flex !important;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 2rem;

  height: auto;
  max-width: 50rem;
  margin-inline: auto;

  background: var(--primary, blue);
  width: 100%;
  height: 100%;
  border-radius: 1rem;
  padding: 1rem;
}

#scansAmount {
  grid-area: sa;
  position: relative;
  background: var(--secondary, white);

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 0rem;
}

#scansAmount span:not(#scans_span) {
  font-size: 1.5rem;
  opacity: 0.8;
}

#scansAmount span#scans_span {
  font-size: 8rem;
  font-weight: 900;
}

#playlist_cont {
  grid-area: pl;

  display: flex !important;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
#songs_count {
  font-size: 1.5rem;
  opacity: 0.8;
  margin: 0rem;
}

ol#playlist {
  margin: 0rem;
  position: relative;
  width: 100%;
  height: 1rem;
}

ol#playlist::after {
  content: 'Work in Progress...';
  position: absolute;
  width: 100%;
  height: 2rem;
  font-size: 1.5rem;
  padding: 0.5rem;
  border-radius: 0.25rem;
  background: red;
  color: white;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

#playlist li {
  position: absolute;
  animation: slide 1s ease infinite;
  animation-delay: calc((var(--size, 0) * 1s - (var(--n, 0) * 1s)) * -1);
}

@keyframes slide {
  0% {
    transform: translateY(1rem);
    opacity: 0;
  }
  25%,
  75% {
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    transform: translateY(-1rem);
    opacity: 0;
  }
}

#qrcode {
  box-sizing: content-box;
  grid-area: qr;
  padding: 1.3rem; /* 1.3rem - to be fixed from magic number */
  transition: 200ms linear box-shadow;
}

#qrcode:hover {
  cursor: pointer;
  box-shadow: 0 0 1rem 0.5rem var(--accent, blue);
}

#descriptionEditor {
  grid-area: dc;
  display: flex !important;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 1rem;
  width: 100%;
  height: 100%;
  padding: 2rem;
  overflow: hidden;
  padding: 0.25;
  background: var(--accent, blue);
}
#descriptionEditor input {
  width: 100%;
  box-sizing: border-box;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 0.5rem;
  background: var(--text, white);
  color: var(--accent, blue);
  font-size: 1.5rem;
  font-weight: 700;
  transition: 0.25s;
}
#descriptionEditor input:focus {
  outline: none;
}
#descriptionEditor textarea {
  width: 100%;
  height: 100%;
  border: none;
  border-radius: 1rem;
  color: var(--accent, blue);
  font-size: 1.25rem;
  font-weight: 500;
  resize: none;
  overflow: auto;
  background: var(--text, white);
  padding: 0.5rem 1rem;
  box-sizing: border-box;
}

#descriptionEditor textarea::placeholder {
  color: var(--accent, white);
  opacity: 0.8;
}

#descriptionEditor textarea:focus {
  outline: none;
}

#descriptionEditor button {
  box-sizing: border-box;
  width: 100%;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 0.5rem;
  background: var(--text, white);
  color: var(--accent, blue);
  font-size: 1.5rem;
  font-weight: 700;
  cursor: pointer;
  transition: 0.25s;
}

@media (max-width: 830px) {
  body::after {
    content: 'Mobile Unsupported';
    position: fixed;
    inset: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--primary, blue);
    color: var(--text, white);
    font-size: 3rem;
    font-weight: 700;
    z-index: 1000;
  }
}

/* Media query for 1080p screens */
@media (max-width: 2100px) {
  h1 {
    font-size: 2.1rem !important; /* Adjusted font size for smaller screens */
    padding: 1.5rem; /* Adjusted padding for smaller screens */
  }

  main {
    max-width: 60rem;
    max-height: 35rem;
  }

  main > * {
    gap: 1.5rem; /* Adjusted gap for smaller screens */
    padding: 1.5rem; /* Adjusted padding for smaller screens */
  }

  #scansAmount span:not(#scans_span) {
    font-size: 1.8rem; /* Adjusted font size for smaller screens */
  }

  #scansAmount span#scans_span {
    font-size: 6.5rem; /* Adjusted font size for smaller screens */
    left: 1.5rem; /* Adjusted left position for smaller screens */
  }

  #playlist h2 {
    font-size: 2.2rem; /* Adjusted font size for smaller screens */
  }

  #qrcode {
    padding: 1.8rem; /* Adjusted padding for smaller screens */
  }

  #descriptionEditor {
    gap: 1rem; /* Adjusted gap for smaller screens */
    padding: 1.8rem; /* Adjusted padding for smaller screens */
  }

  #descriptionEditor textarea {
    font-size: 1.8rem; /* Adjusted font size for smaller screens */
  }
}
