:root[data-theme='dark'] {
  --text: #eceef6;
  --background: #090c17;
  --primary: #98a9df;
  --secondary: #203880;
  --accent: #4b6fdd;
}

html,
body {
  background: var(--background);
  color: var(--color);
}
